nav ul li:nth-child(1) a{
    background-color: rgb(39, 55, 77);
    color: white;
    border-radius: 5px;
    cursor: context-menu;
}
h1{
    font-family: "AvenirNextBold",Arial,Helvetica,sans-serif;
}