/* Style footer */
footer{
    position: relative;
    text-align: center;
}
footer .logo{
    width: 150px;
    margin: 0;
}
.footerPart1{
    height: 550px;
    padding: 50px;
    background-color: #61122f;
    color: white;
}
.footerPart1 h2{
    font-family: Verdana;
    color: #f6b319;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}
 .footerPart1 p{
    margin: 30px auto;
}
footer form{
    margin: 0 auto;
}
footer input, textarea{
    padding-left: 10px;
    border-radius: 5px;
    margin: 4px 2px;
    border: none;
    opacity: 0.9;
}
footer .champ1, footer .champ2{
    height: 35px;
    width: 230px;
}
footer button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: rgb(221, 230, 237);
    background-color: #130309;
    font-weight: bold;
    margin: 5px;
}

footer button:hover{
color: #130309;
cursor: pointer;
background-color: rgb(221, 230, 237);
}
footer .footerPart2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex; 
    justify-content: space-around;
    background-color: white;
    height: 350px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}
.pages{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
}
.footerPart2 .contact, .footerPart2 .pages1, .footerPart2 .pages2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: small;
    opacity: 0.8;
}
.footerPart2 .pages1 h3, .footerPart2 .pages2 h3, .contact h2{
    margin: 15px;
}
.footerPart2 .pages1 a, .footerPart2 .pages2 a{
    margin-top: 15px;
}
.footerPart2 img{
    width: 25px;
    margin: 5px 15px;
}
.footerPart2 a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerPart2 .contact a span{
    font-weight: 600;
}
footer .redLine{
    background-color: rgb(201, 14, 14);
    height: 2px;
    width: 40px;
    margin-bottom: 15px;
}
.footerPart3{
    padding: 20px;
}
.footerPart3 span{
    font-size: x-small;
    opacity: 0.7;
}
.footerPart3 .createur img{
    width: 18px;
    margin: 20px 10px;
    opacity: 0.6;
}
@media (max-width: 767px){
    .footerPart1{
        height: 630px;
    }
    footer form{
    width: 250px;
    }
    footer textarea{
        width: 230px;
    }
    footer .footerPart2{
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
    footer .footerPart2 .pages{
        width: 100%;
    }
}
/* END of Style footer */